.displayGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}

.gridTemplateColumns{
    display: grid;
    grid-template-columns: 30% 60% 1fr;
    padding: 5px;
}

.gridTemplateAreas{
    display: grid;
    grid-template-areas:
            "header header"
            "navigation content";
    grid-template-columns: 25% 1fr;
    grid-template-rows: 50px 150px;
    border: #646cff 1px solid;
    padding: 5px;
}

.header{
    grid-area: header;
}
.navigation{
    grid-area: navigation;
}
.content{
    grid-area: content;
}

.elem{
    border: #e50000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    gap: 15px;
}