.container.visible .background{
    display: block;
}

.container.visible .content{
    left: 0;
}

.content{
    background-color: #1f1f1f;
    height: 100vh;
    display: flex;
    position: fixed;
    left: min(-1 * (280px - 5px), -1 *(20vw - 5px));
    width: max(280px, 20vw);
    z-index: 3;

    transition: left 250ms ease-in-out;
}

.background{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.nav{
    padding: 15px;
}

.nav ul{
    padding-left: 20px;
}

.line{
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    left: auto;
    /*box-shadow: #1c1c1c 0 0 10px;*/
    background: linear-gradient(180deg, #e50000, blue, #e50000);
    background-size: 100% 300%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 50% 150%;
    }
}