.displayNone{
    height: 100px;
    background-color: #646cff;
}

.displayBlock{
    border: #646cff 1px solid;
    padding: 5px;
}

.elem{
    width: 100px;
    height: 100px;
    border: #e50000 1px solid;
}