.fontFamilyArialSansSerif{
    font-family: "Arial", sans-serif;
}

.fontFamilySerif{
    font-family: serif;
}

.fontSize24px{
    font-size: 24px;
}

.fontSize3vw{
    font-size: 3vw;
}

.fontWeightBold{
    font-weight: bold;
}

.fontWeight100{
    font-weight: 100;
}

.textAlignCenter{
    text-align: center;
}

.textAlignJustify{
    text-align: justify;
}

.textShadowWhite{
    text-shadow: white 0 0 5px;
}

.textShadowRed{
    text-shadow: red 5px 10px;
}