.flexContainer{
    display: flex;
}

.flexDuration{
    display: flex;
    flex-direction: row-reverse;
}

.blockContainer{
    display: block;
}

.flexWrap{
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
}

.justifyContent{
    display: flex;
    justify-content: space-between;
}